HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# 민감정보 포함될 수 있는 파일만 무시
src/main/resources/application-local.yml
src/main/resources/application-secret.yml
src/main/resources/application-private.yml
src/main/resources/application-prod-private.yml

# 예시용, 환경변수 기반 설정파일은 허용
!src/main/resources/application.yml
!src/main/resources/application-dev.yml
!src/main/resources/application-prod.yml
!src/main/resources/application-example.yml

# 환경 변수 파일 (.env 계열)
.env
.env.*
*.env

# 로그 및 임시파일
logs/
*.log
*.tmp
hs_err_pid*
replay_pid*

# OS / 기타 불필요 파일
.DS_Store
Thumbs.db

# Secret Config
src/main/resources/application-secret.yml