spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/globoo
    username: kimdonghan
    password:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        highlight_sql: true

  sql:
    init:
      mode: never
