server:
  port: ${PORT:8080}

spring:
  application:
    name: Globoo
  datasource:
    url: jdbc:postgresql://localhost:5432/globoo
    username: kimdonghan
    password: #본인 비밀번호 햐
    driver-class-name: org.postgresql.Driver

  # [추가] 파일 업로드 용량 설정
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

  jpa:
    open-in-view: false
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        jdbc.time_zone: Asia/Seoul

  mail:
    host: ${SMTP_HOST:}
    port: ${SMTP_PORT:587}
    username: ${SMTP_USERNAME:}
    password: ${SMTP_PASSWORD:}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
    org.springframework.security: info

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha

jwt:
  issuer: Globoo
  access-token-validity-seconds: 3600
  refresh-token-validity-seconds: 1209600
  secret: ${JWT_SECRET}

mail:
  from: ${MAIL_FROM:no-reply@globoo.local}

# 프로필 이미지 업로드 디렉토리 설정 찐으로 구현
globoo:
  upload:
    profile-dir: /app/uploads/profile/
