# application-prod.yml

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  sql:
    init:
      mode: never

jpa:
  hibernate:
    ddl-auto: update  # 초기 배포용, 나중엔 validate로 해서 ㄱㅊ
